nav {
            background: #024c7aff;
            padding: 10px 20px;
            margin-bottom: 20px;
        }

        nav ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            gap: 25px;
        }

        nav li {
            position: relative;
        }

        nav > ul > li > a {
            color: #fff;
            text-decoration: none;
            font-weight: 600;
        }

        
        nav li ul {
            display: none;
            position: absolute;
            background: #333;
            padding: 10px;
            list-style: none;
            margin: 0;
            min-width: 180px;
            z-index: 10;
        }

        nav li:hover ul {
            display: block;
        }

        nav li ul li a {
            display: block;
            color: #fff;
            padding: 5px 0;
            text-decoration: none;
            font-weight: 400;
        }

        nav li ul li a:hover {
            text-decoration: underline;
        }
        p {
    font-size: 1.2rem;
    line-height: 1.6;
}
div {
    padding-left: 2rem;
}
h1 {
    font-size: 2.5rem;
    font-weight: bold;
}
.footer {
    padding: 24px 40px;
    background: #111827;
    color: #9ca3af;
    font-size: 0.85rem;
    margin-top: 40px;
}