@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

:root {
    --primary: #f8f1ff;
    --secondary: #decdf5;
    --accent: #1f2839;
    --text: #000;
}

* {
    padding: 0;
    margin: 0;
}

html {
    font-family: "Ubuntu", sans-serif;
    background-color: var(--secondary);
}

button {
    background: var(--accent);
    border: none;
    color: var(--primary);
    padding: 10px;
    border-radius: 25px;
    cursor: pointer;
    width: 100px;
}

nav {
    background: var(--accent);
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 25px;
}

nav li {
    position: relative;
}

nav > ul > li > a {
    color: var(--primary);
    text-decoration: none;
    font-weight: 600;
}

nav li ul {
    display: none;
    position: absolute;
    background: #333;
    padding: 10px;
    list-style: none;
    margin: 0;
    min-width: 180px;
    z-index: 10;
}

nav li:hover ul {
    display: block;
}

nav li ul li a {
    display: block;
    color: #fff;
    padding: 5px 0;
    text-decoration: none;
    font-weight: 400;
}

nav li ul li a:hover {
    text-decoration: underline;
}

.cart-head {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 25px;
}

.product {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    width: 100%;
    max-width: 600px;
    text-align: center;
    gap: 20px;
}

#cart {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#cart-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 100px;
}

#cart-container,
#cart-total-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary);
    max-width: 600px;
    border-radius: 10px;
    padding: 30px;
    border: solid 3px var(--accent);
}

#cart-total-container {
    gap: 20px;
}
