@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

:root {
    --primary: #f8f1ff;
    --secondary: #decdf5;
    --accent: #1b998b;
}

html {
    font-family: "Ubuntu", sans-serif;
}
